{% extends 'base.html' %}

{% block title %} Survey Questions {% endblock %}

{% block content %}

{% for msg in get_flashed_messages() %}
    <p style="color: red">{{ msg }}</p>
{% endfor %}

<form action="/answers" method="POST">
    <p> {{ question }} </p>
    {% for choice in choices %}
    <input type="radio" name="answer" value="{{ choice }}"> {{ choice }} <br>  
    {% endfor %}

    {% if allow_text %}
    <label> Comments: 
        <textarea name="comments" cols="30" rows="10"></textarea>
    </label>
    {% endif %}
    
    <input type="text" name="next_number" value="{{next_number}}" hidden>
    <button>Go!</button>
</form>

{% endblock %}